html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.title-link {
  color: #268bd2;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  letter-spacing: -0.025em;
  line-height: 1.25;
}

code {
  padding: 0.25em 0.5em;
  font-size: 85%;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  padding: 1em;
  font-size: 0.95em;
  line-height: 1.4;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
